<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-icon-button>
      <mat-icon>polymer</mat-icon>
    </button>


    <a mat-button class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted"
    tabindex="0" href="/conciliar"><span
        class="mat-button-wrapper">Conciliar</span>
        <span matripple class="mat-ripple mat-button-ripple"></span>
        <span class="mat-button-focus-overlay"></span>
    </a>
    <a mat-button class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted"
    tabindex="0" href="/datos"><span
      class="mat-button-wrapper">Datos</span>
      <span matripple class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>
    <a mat-button class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted"
    tabindex="0" href="/conciliadas"><span
      class="mat-button-wrapper">Conciliadas</span>
      <span matripple class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>



    <span class="example-spacer"></span>





  </mat-toolbar-row>
</mat-toolbar>
